*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(137, 95, 160);
    
   
}

section{
    display: flex;
    width: 700px;
    height: 500px;
   
    

}

section img{
    width: 0;
    flex-grow: 1;
    /* para adaptar las aimagenes en la caja */
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
section img:hover{
    cursor: crosshair;
    width: 300px;
    filter: contrast(120%);

}
h1{
    color: aqua;
}
